:root {
    --dark-purple: #240046;
    --light-purple: #3C096C;
    --lighter-purple: #5A189A;
    --white-purple: #C77DFF;
    --whiter-purple: #E0AAFF;
    --hover-white-purple: #9D4EDD;
}

@font-face {
    font-family: ubuntu;
    src: url('../assets/fonts/Ubuntu-Medium.ttf')
}

@font-face {
    font-family: prompt;
    src: url('../assets/fonts/Prompt-Medium.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.title {
    color: var(--light-purple);
    font-weight: 1000;
    font-size: 2.6rem;
}

.navbar {
    font-family: prompt;
}

.navbar>div>i {
    cursor: pointer;
}
.desc {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: ubuntu;
    color: var(--light-purple)
}
/* css schedule code */

#schedule{
    height: 100%;
    padding:1.2rem 1rem;
    margin:0;
    background: repeat url('../assets/bg/WEBSITE_BG.png');
}
#schedule h2 {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
}
.boxdiv {
    display: flex;
    width: 97%;
    background-color: white;
    margin-top: 18px;
    margin-left: 20px;
    padding: 0px 17px 5px 17px;
    border-radius: 25px;
    font-family: ubuntu;
    font-weight: normal;
}
.box-heading{
    font-weight: 900;
    font-size: 1.25rem;
    color: #3C096C;
    margin-top: 8px;
    margin-bottom: 8px;
}
.text{
    padding: 10px 0px 10px 50px;
} 
em{
    padding-top: 5px;
    font-size: 0.75rem;
    font-weight: 600;
}
img{
    height: 125px;
    width: 150px;
}
.box-img{
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
}
.participate-button {
    cursor: pointer;
    background-color:#5A189A;
    color: white;
    padding: 8px 40px;
    border-radius: 50px;
    border: 2px solid white;
    width: 250px;
    font-size: 0.75rem;
    font-weight: bold;
}
button:hover{
    border: 2px solid #5A189A;
    background-color: white;
    color: #5A189A;
}
  /* Anything udner 768px */
  @media(max-width:820px){
    .boxdiv{
        width: 94%;
    }
}
  @media(max-width:768px){
    em{
        font-size: 0.5rem;
    }
    /* img{
        height: 75px;
        width: 100px;
    } */
    .boxdiv{
        width: 85%;
    }
    .text{
        padding: 0px;
    }
    .participate-button{
        padding: 5px;
        width: 200px;
    }
    .box-heading{
        font-size: 0.9rem;
    }
    .participate-button{
        font-size: 0.6rem;
    }
}


/* schedule code ends */

footer {
    background-color: var(--lighter-purple);
}

.currentPage {
    color: white;
    font-style: 1.2rem;
}

.currentPage:hover {
    color: rgb(177, 177, 177)
}

footer>a {
    color: var(--white-purple);
    text-decoration: none;
    font-family: prompt;
}

footer>a:hover {
    color: var(--hover-white-purple)
}

.sidenav {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background: repeat url('../assets/bg/WEBSITE_BG.png');
    overflow-x: hidden;
    transition: all linear 0.5s;
    text-align: center;
}

.sidenav a {
    text-decoration: none;
    display: block;
    padding: 10px 0 20px 0;
    color: #C77DFF;
}

.sidenav a:hover {
    color: var(--hover-white-purple)
}